<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static',filename='css/script.css')}}"></script>
    <title>Register Page</title>
</head>
<body>
    <header>Register</header>
    <main>
        <h2>Student Registration</h2>
        <form id="registerForm"= method="POST">
            <label>Full Name</label><br>
            <input type="text" placeholder="Enter your name" id="name name="name"> <br>
            <label>Email:</label><br>
            <input type="email" placeholder="Enter your email" id="email" name="email"> <br>
            <label>Password:</label><br>
            <input type="password" placeholder="Enter your password" id="password" name="password"> <br>
            <label>Date of Birth:</label><br>
            <input type="date" placeholder="Enter your date of birth" name="dob" <br>
            <label>Gender:</label><br>
            <input type="radio" name="gender" name="gender" value="male">Male
            <input type="radio" name="gender" name="gender" value="Female">Female <br><br>
            <label>Select course</label> <br>
            <select>
                <option>Python Fullstack</option>
                <option>Data Structures & Algorithms</option>
            </select> <br><br>
            <button type="submit" value=""Register>Register</button>
        </form>
    </main>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>